<div class="ecart--search--product">
    <input class="ecart-search-product-input" #searchInput>
    <!-- <button [ngClass]="{'btn': true,'btn-search': searchText, 'btn-search-disabled' : !searchText}" [disabled]="!searchText">Search</button> -->
    <button class="btn btn-search" (click)="setSearchText(searchInput)">Search</button>
</div>
<div class="ecart-search-result-for">
    <p *ngIf="searchText != ''" > 
        <strong>Search result for:</strong>
         {{ searchText }}
    </p>
</div>
