<div class="ecart-productList">
    <app-search></app-search>
    <product-list></product-list>
    <!-- <img [src]="product.pImage">
    <p>Name: {{product.name}}</p>
    <p>Price: {{'$' + product.price}}</p>
    <p>Color: {{product.color}}</p> -->
    <!-- <p>DiscountPrice: ${{getDiscountedPrice().toFixed(2)}}</p> -->
    <!-- <p>{{product.inStock > 0 ? 'Only ' + product.inStock + ' items available' : 'No items in stocks' }}</p> -->
    <!-- <button [disabled]=getStockStatus()>Buy Now</button> -->
    <!-- <input [value]="name"/> -->
    <!-- <button (click)="decrementCartValue()" [disabled]="">-</button>
    <span>{{addToCart}}</span>
    <button (click)="incrementCartValue()">+</button> -->
</div>
<!-- <button bind-disabled=getStockStatus()>Buy Now</button>
<input bind-value="name"/> -->


<!--disabled, hidden, checked-->

<!-- <div *ngFor="let item of listOfStrings">
    <p>Current Element of Array is :{{item}}</p>
</div> -->