<div class="ecart--header">
    <div class="ecart-logo">
        <!-- <img src="images/logo.jpeg"> -->
        ecart
    </div>
    <div class="ecart--header--nav">
        <top-menu></top-menu>
        <div class="ecart--bottom--bar">
            <main-menu></main-menu>
            <div class="ecart--search-bar">
                <input type="text" class="ecart-search-box" placeholder="Search">
                <button class="ecart--search--btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        
    </div>
</div>